* { box-sizing: border-box; }

header {
	padding: 20px 60px;
	color: #03AFEF;
}

header img {
	width: 100px;
	margin-top: 15px;
	display: inline-block;
}

header h3 {
	display: inline-block;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 20px;
	vertical-align: top;
}

header nav {
	float: right;
	margin-top: -62px;
	font-size: 25px;
}

header nav a {
	color: #03AFEF;
	font-weight: bold;
	margin-left: -27px;
	padding: 9px 14px;
	text-decoration: none;
}

header nav a.linknav {
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;  
}

header nav a.linknav:hover {
	color: #62CC40; 

}


header nav a.active {
    color: #62CC40; 
 
}


header .logo{
	vertical-align: top;
}

.home-wrapper { 
	background-color:whitesmoke;
}

#carousel {
	width: 10%;
}

#servicios .box {
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 39px;
	padding-top: 0px;
	padding-right: 0px;
	vertical-align: top;

}

#servicios .box img{
	max-width: 100%;
    border-radius: 4%;

} 

#servicios .social a {
	color: white;
	display: inline-block;
	border-radius: 14%;
	background-color: #03afef;
	font-size: 85px;
	height: 100px;
	width: 100px;
	line-height: 104px;
	margin-right: 11px;
}



